@font-face{
  font-family:"HouschkaAltPro-ExtraBold";
  src: url('/HouschkaAltPro/houschkaaltpro-extrabold-web.woff') format('woff');
  font-weight:normal;
  font-style:normal
}

@font-face{
  font-family:"HouschkaAlt-ProBold";
  src: url('/HouschkaAltPro/houschkaaltpro-bold-web.woff') format('woff');
  font-weight:normal;
  font-style:normal;
}
